body {
	margin: 0;
	padding: 0;
	background: radial-gradient(
		farthest-corner,
		rgba(40, 40, 40, 1),
		rgba(10, 10, 10, 1)
	);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	align-content: center;

	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Style the navbar */
#navbar {
	overflow: hidden;
	height: 80px;
	font-size: 25px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	box-shadow: 8px 8px 5px black;
	-webkit-backdrop-filter: blur(20px) brightness(0.6);
	backdrop-filter: blur(20px) brightness(0.6);
	z-index: 10;
}

/* Navbar links */
#navbar a {
	float: center;
	color: white;
	padding: 25px 40px 0px 0px;
	text-decoration: none;
	font-family: monospace;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}

/* Navbar cursor */
#navbar a:hover {
	text-shadow: 0px 0px 15px white;
	transform: scale(1.15);
	transition: 250ms ease-out;
}

/* Paint selected navbar item */
#navbar a:active {
	color: #b71c1c;
}

/* Page content */
.content {
	padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 60px;
}

#make_up {
	color: red;
}
/*#######################################################################################################################################*/

.box {
	position: relative;
}

.input {
	position: relative;
	width: 40px;
	height: 40px;
	background: none;
	border: 3px solid #b71c1c;
	border-radius: 25px;
	box-sizing: border-box;
	font-family: monospace;
	font-size: inherit;
	color: #b71c1c;
	outline: none;
	transition: 0.5s;
}
.box:hover input {
	width: 250px;
	background: transparent;
	border-radius: 10px;
}
.box i {
	position: absolute;
	top: 50%;
	bottom: 20px;
	right: 15px;
	transform: translate(-50%, -50%);
	font-size: inherit;
	color: transparent;
	transition: 0.5s;
}
.box:hover i {
	opacity: 0;
	z-index: -1;
}

/*#######################################################################################################################################*/

/* Style the sidebar */
#sidebar {
	overflow: hidden;
	height: 83%;
	font-size: 175%;
	text-align: left;
	margin: 5% 88% 0 2%;
	position: fixed;
	top: 0;
	left: 0;
	width: 12%;
	box-shadow: 8px 8px 5px black;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
}

/* Sidebar links */
#sidebar li {
	float: left;
	display: block;
	color: white;
	text-align: left;
	padding: 25px 40px 0px 0px;
	text-decoration: none;
	font-family: monospace;
	text-align: left;
	display: inline-block;
	margin: 0 auto;
}

/*#######################################################################################################################################*/

.label {
	font-family: monospace;
	padding-left: 10px;
	font-size: 60%;
}

.checkbox {
	accent-color: #b71c1c;
}

/*#######################################################################################################################################*/

#table {
	border-collapse: separate;
	border-spacing: 0 15px;
	padding-top: 4%;
}

/*#######################################################################################################################################*/

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 400px;
	height: 100%;

	margin: auto;
	text-align: center;
	font-family: monospace;

	position: relative;

	background-color: rgba(255, 255, 255, 0.04);

	transition: box-shadow 250ms, transform 250ms;
}

.card:hover {
	box-shadow: 0px 0px 50px black;
	transform: scale(1.05);

	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);

	z-index: 5;
}

.image_div {
	width: 400px;
	height: 400px;
}

.image {
	height: 100%;
	width: 100%;
	object-fit: contain;
	cursor: pointer;
}

.brand_name {
	color: white;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 90%;
}

.brand {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
.name {
	color: grey;
	float: left;
	padding-right: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 90%;
}

.price {
	font-size: 22px;
	text-decoration: line-through;
	color: grey;
}

.discount_price {
	color: white;
	font-size: 30px;
}

.info {
	color: white;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 90%;
}

.button,
.button_fav {
    width: 85%;
    border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	font-size: 18px;

	transition: background-color 500ms, color 500ms;
}

.button_fav{
    width: 15%;
    color: #b71c1c;
}

.button:hover,
.button_fav:hover {
	background-color: #b71c1c;
	color: black;
}

/*#######################################################################################################################################*/

.input_filter {
	position: relative;
	width: 75px;
	height: 30px;
	background: none;
	border: 3px solid #b71c1c;
	border-radius: 20px;
	box-sizing: border-box;
	font-family: monospace;
	font-size: 18px;
	color: #b71c1c;
	outline: none;

	transition: 250ms;
}

.input_filter:hover {
	border-radius: 5px;
}

/*#######################################################################################################################################*/

.radio {
	accent-color: #b71c1c;
}
